script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'

title Process Monitor

h1 Process Info Monitor

table
  thead
    tr
      th Pid
      th User
      th %Cpu
      th %Mem
      th Args
  tbody
    -  for pinfo in procs
      tr
        td = pinfo.pid
        td = pinfo.user
        td = pinfo.cpu
        td = pinfo.mem
        td = pinfo.args

javascript:
   function init() {
        function updateProcInfo(string) {
          var element = $("body");
          element.html(string);
        }

        var Socket = "MozWebSocket" in window ? MozWebSocket : WebSocket;
        var ws = new Socket("ws://localhost:8080/");
        ws.onmessage = function(evt) {
          console.log("Message: " + evt.data);
          updateProcInfo(evt.data);
        };
        ws.onclose = function() {
          console.log("socket closed");
        };
        ws.onopen = function() {
          console.log("connected...");
        };
      };
      init();
